* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://images.pexels.com/photos/8892/pexels-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media only screen and (max-width: 630px) {
    body {
        background-image: url(https://images.pexels.com/photos/4709521/pexels-photo-4709521.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .inn {
    background-color: rgb(180, 189, 167);
    width: 80px;
    height: 25px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-emphasis: none;
    text-align: center;

}
    
}

h2 {
    margin-top: 40px;
    padding-top: 10px;
}

h2,
h4 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p {
    text-align: center;
    margin: 30px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.inn {
    background-color: rgb(153, 150, 145);
    width: 80px;
    height: 25px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-emphasis: none;
    text-align: center;

}
.inn:hover {
    background-color: rgb(229, 179, 88);
    width: 80px;
    height: 25px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-emphasis: none;
    text-align: center;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.option {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.move {
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}


.bt{
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}
.bt:hover{
    padding: 10px 15px;
    background-color: rgb(229, 179, 88);
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

.r:hover {
    background-color: rgba(182, 169, 169, 0.399);
}
.p:hover {
    background-color: rgba(182, 169, 169, 0.399);
}

.s:hover {
    background-color: rgba(182, 169, 169, 0.399);
}

.results{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.finalres{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}